# The list is derived from the .gitignore template for KiCad on GitHub:
# https://github.com/github/gitignore/blob/main/KiCad.gitignore
#
# SPDX-FileCopyrightText: 2025 Junde Yhi <junde@yhi.moe>
# SPDX-License-Identifier: CC0-1.0

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
